
.navbar a {
    color: rgb(184, 34, 34);
    text-decoration: none;
    position: relative;
    left: 15px;
}

.App {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #fafafa;
    padding-top: 4rem;
    min-height: 100vh;
}

.style{
    width: 650px;
    display: flex;
    position: relative;
    left: 465px;
    top: 10px;
    
    
}

.lista .card {
  width: 400px;
  height: 390px;
  padding: 1px;

}

.style .col-md-3 {
position: relative;
left: 240px;

}

.style .porcentagem {
    position:relative;
    left: 150px;
    }

  .style  .nome-tipo {
    position:relative;
    left: 270px;
  }

  .style .tipo {
    position:relative;
    left: 100px;
  }

  .col .lista {
    position: absolute;
    top: 75px;
    left: 130px;
    
  }

  .col .profile {
    position: relative;
    top: 25px;
  }




