

.navbar a {
    color: rgb(184, 34, 34);
    text-decoration: none;
    position: relative;
    left: 15px;
}

.App {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #fafafa;
    padding-top: 4rem;
    min-height: 100vh;
}

